// styles/ImageTransition.module.scss
.imageContainer {
  position: relative;
  width: 100%;
  height: 85vh;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
